@import 'variables.scss';

:root {
  font-family: $font-family;
  font-weight: 300;
  box-sizing: border-box;
}

body {
  background: $callback_background;
  background: $main_background;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
}

button {
  font-family: inherit;
  font-weight: inherit;
  font-size: $font_medium_mobile;
  border: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  transition: all .1s ease-out;
  &:hover {
    transform: scale(1.02);
    border: 1px solid $hover_border;
    box-shadow: $shadow_btn_hover;
    transition: all .1s ease-in;
  }
  &:active {
    transform: scale(0.98);
  }
}

.calculator-grid {
  margin: auto;
  display: grid;
  width: 12rem;
  gap: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "display display display display"
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    ". . enter enter"
    ;
}
.output {
  grid-area: display;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  border-top-left-radius: $calc_border_radius;
  border-top-right-radius: $calc_border_radius;
  background-color: $display_background;
  padding: .8rem;
  .current-operand {
    color: $display_font_main;
    font-size: $font_large_mobile;
  }
  .previous-operand {
    color: $display_font_secondary;
    font-size: $font_small_mobile;
    font-weight: 400;
  }
}
.btn_zero {
  border-bottom-left-radius: $calc_border_radius;
}
.btn_enter {
  grid-area: enter;
  width: 6rem;
  border-bottom-right-radius: $calc_border_radius;
  color: $keyboard_font_secondary;
  background: $callback_background_pink;
  background: $background_gradient_pink;
}
.setting, .numbered {
  color: $keyboard_font_main;
  background: $callback_background_grey;
  background: $background_gradient_grey;
}
.operator {
  color: $keyboard_font_secondary;
  background: $callback_background_violet;
  background: $background_gradient_violet;
}

@media (min-width: 1090px) {
  .calculator-grid{
    width: 19vmax;
    height: 31vmax;
    padding: 1.2rem 1.3rem;
    .current-operand {
      font-size: $font_large;
    }
    .previous-operand {
      color: $display_font_secondary;
      font-size: $font_small;
    }
  }
  button {
    width: 100%;
    height: 100%;
    font-size: $font_medium;
  }
  .btn_enter {
    width: 100%;
  }
}
