$callback_background: #9157e1;
$main_background: linear-gradient(103deg, #9157e1 0%, #ff9768 100%);

$display_background: #212121;
$display_font_main: #ffffff;
$display_font_secondary: #da8290;
$enter_btn: #e62f89;

//keyboard:
$keyboard_font_main:#444444;
$keyboard_font_secondary: #f1edf9;

//operators buttons:
$addition: linear-gradient(103deg, #9157e1 0%, #ff9768 100%);
$substraction: #894eda;
$multiplication: #8d52de;
$division: #9156e2;

//settings buttons:
$percentage: #f2f2f2;
$negative: #f2f2f2;
$clear: #f1f1f1;

//numbered buttons:
$btn_seven: #f9f9f9;
$btn_eight: #f6f6f6;
$btn_nine: #f7f7f7;
$btn_four: #f7f7f7;
// $btn_five: ;
// $btn_six: ;
// $btn_one: ;
// $btn_two: ;
// $btn_three: ;
// $btn_zero: ;
// $btn_comma: ;
